.container {
	max-width: 1140px;
	margin: 20px auto;

form {
	width: 400px;
	padding: 1em;
	margin: 20px auto;
	border: 2px solid rgba(128, 128, 128, 0.634);
	border-radius: 20px;
	box-shadow: -10px 14px 13px rgba(0, 0, 0, 0.6);

	div {
		width: 100%;
		margin: 10px auto;

		input {
			padding: 10px 16px;
			width: 100%;
			margin: 10px 0 0 0;
			border-radius: 6px;
			border: 1px solid grey;
			&[type='submit'] {
				background-color: rgb(42, 209, 42);
				font-weight: 600;
				cursor: pointer;
				color: #fff;
				font-size: 18px;
			}
		}
        .error{
            color: #ff0404;
            font-size: 12px;
            margin-top: 3px;
            height: 10px;
        }
	}
}

.users {
	padding: 1em;
	&-list{
		display: flex;
		align-items: center;
		align-content: start;
		flex-wrap: wrap;
		gap: 16px;
		width: 90%;
		margin: 0 auto;

		li{
				box-shadow: -10px 14px 13px rgba(0, 0, 0, 0.6);
				border: 1px solid rgba(128, 128, 128, 0.6);
				border-radius: 13px;
				padding: 1em;
				flex-basis: 20%;
				flex-grow: 1;
				max-width: 350px;

				p {
					line-height: 2;
					margin: 10px ;
                    &.password-line{
                        display: flex;
                        align-items: center;
                        i {
                            margin-left: auto;
                            color: rgb(16, 199, 231);
                            font-size: 18px;
                        }
                    }
					span {
						background-color: azure;
						padding: 6px;
						font-weight: 700;
						margin-right: 10px;
					}

                    
				}
		}
	}
}
}

