.Modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Modal-Content {
	background-color: beige;
	padding: 16px;
	min-width: 400px;
	max-width: 70%;
	min-height: 170px;
	border-radius: 12px;
	color: #111;
	text-align: center;
}

.Modal-Content h1 {
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 600;
}

.Modal-Content button {
	margin: 12px;
	padding: 13px 23px;
}

button.cancel {
	background-color: #27ae60;
}