body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f329f79c232cb4ecb69ba9a/1612605371100-L8OPRP7JIBXK16K0T807/food+background+for+restaurant+menu-5.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.App {
  width: 80%;
  margin: 150px auto;
  padding: 1em;
  background-color: #dedede;
  min-height: 350px;

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }

  .App__cake {
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__imageBox {
    flex-basis: 40%; 
    height: 240px;
    margin-bottom: 20px;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__content {
    flex-basis: 60%; 
    h2 {
      color: #222;
      margin-bottom: 10px;
      font-size: 24px;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -5px;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        right: 0;
      }
    }

    p {
      margin-bottom: 10px;
      line-height: 1.6;
    }
  }

  form {
    width: 90%;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    select {
      padding: 5px 10px;
      font-size: 16px;
    }
  }
}
