.post_h {
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
  }
  
  .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .edit{
    position: fixed;
    right: 50px;
    top: 300px;
    padding: 20px;
    background: linear-gradient(to right, #f6ff00, #00ff37);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    border: 2px solid red;
    border-radius: 25px;
    background: linear-gradient(to right, #00fff2, #2b00ff);
    color: white;
    padding: 10px;
  }
  
  .post-container {
    max-width: 300px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(to right, #00fff2, #2b00ff);
  }
  
  .post-title {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  
  .post-body {
    margin-top: 10px;
  }
  
  .post-user {
    margin-top: 5px;
    font-size: 14px;
    color: white;
  }
  
  .post-id {
    margin-top: 5px;
    font-size: 14px;
    color: white;
  }
 
  
  .todos-header {
    text-align: center;
    margin-top: 0;
    border: 2px solid red;
    border-radius: 25px;
    background: linear-gradient(to right, #00fff2, #2b00ff);
    color: white;
    padding: 10px;
  }
  .todoList{
    display: flex;
    flex-wrap: wrap;
  }
  .todo-item {
    width: 300px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(to right, #00fff2, #2b00ff);
  }
  
  .todo-title {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  
  .todo-status {
    margin-top: 10px;
  }
  
  .todo-userId,
  .todo-id {
    margin-top: 5px;
    font-size: 14px;
    color: white;
  }
  