.container {
    max-width: 400px;
    padding: 1rem;
    border: 1px solid #000;
    background-color: #dedede;
    margin: 20px 40px;
    line-height: 1.6;
    border-radius: 20px;
  }
  
  .container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: capitalize;
  }
  
  hr {
    width: 80%;
    margin: 10px auto;
    border: 0;
    background-color: brown;
    height: 1px;
  }
  
  .dark {
    background-color: #111;
    color: beige;
  }
  
  .light {
    background-color: #fff;
    color: #000;
  }
  
  .small {
    max-width: 200px;
  }
  
  .medium {
    max-width: 300px;
  }
  
  .large {
    max-width: 400px;
  }
  
  button {
    font-size: 14px;
    padding: 0.6rem 1rem;
    border-radius: 12px;
    margin: 20px;
    background-color: bisque;
    border: 0;
    font-weight: 700;
    cursor: pointer;
  }
  