body{
    background-color: beige;
}
.contanier{
    width: 90%;
    margin: 50px auto;
    background-color: beige;
    border: 2px solid gray;
    border-radius: 10px;
    form{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        input{
            padding: 1em;
            border: 1px solid black;
            border-radius:40px;
            width: 60%;
            font-size: 18px;
            background-color: rgb(241, 241, 205);
            color: rgb(84, 84, 84);
            text-shadow: 1px 1px 1px black;
            box-shadow: 2px 2px 12px gray;
            margin: 30px 0;
        }
    }
}
.Product{
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: start;
    flex-wrap: wrap;
    div{
        width: 400px;
        height: 225px;
        margin: 12px;
        padding: 0 10px;
        background-color: beige;
        box-shadow: 2px 2px 8px gray;
    }
    h2{
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        color: rgb(84, 84, 84);
        text-shadow: 1px 1px 1px black;
    }
    p{
        padding: 1px;
        color: rgb(84, 84, 84);
        text-shadow: 1px 1px 1px black;
    }
}