.App {
	width: 80%;
	margin: 150px auto;
	padding: 1em;
	background-color: #dedede;
	min-height: 350px;

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
	&__lists {
		display: flex;
		align-items: center;
	}

	&__imageBox {
		flex-basis: 90%;
		height: 240px;
		margin-right: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		h2 {
			color: #222;
			margin-bottom: 20px;
			font-size: 30px;
			position: relative;
		}

		p {
			margin-bottom: 20px;
			line-height: 1.6;
		}
	}

	form {
		width: 90%;
		margin-bottom: 16px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		select {
			padding: 5px 10px;
			font-size: 16px;
		}
	}
}