body {
	background-color: #020101;
}

.App {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 80px 1fr;
	width: 96%;
	height: 100vh;
	margin: 20px auto;
	color: #fff;
	&__forms {
		border: 1px solid yellow;
		grid-row-start: 1;
		grid-row-end: 3;
		display: flex;
		align-items: center;
		align-content: start;
		flex-wrap: wrap;
		text-align: center;
		&  >  * {
			flex-basis: 100%;
			margin: 20px 0;
		}
		form {
			width: 100%;
			padding: 10px;
			.form__group {
				display: flex;
				justify-content: center;
				align-items: start;
				flex-direction: column;
				input {
					padding: .6em;
					width: 100%;
					border-radius: 6px;
					margin: 10px auto;
					color: #111;
					font-size: 16px;
					font-weight: 500;
					caret-color: rgb(228, 152, 10);
				}
				label {
					font-weight: 600;
					font-variant: small-caps;
					
				}
				&-radio {
					display: flex;
					align-items: center;
					justify-content: start;
					flex-direction: row;
					input {
						float: left;
						width: 20px !important;
						margin: 0;
						line-height: 1.6;
						margin-right: 20px;
						
					}
					
				}
				& .alert {
					background-color: #da4500;
					padding: 0.4em;
					border-radius: 12px;
					text-align: center;
					color: #f3f3f3;
					width: 100%;
					max-width: 100%;
					margin: 12px 0;
					padding: 12px;
					p {
						white-space: nowrap;
					}
				}
			}
		}
	}
	&__tables {
		grid-row-start: 2;
		border: 1px solid yellow;
	}
}

.MainTable{
	width: 100%;

	height: 100%;
	&__item {
		display: grid;
		grid-template-columns: 40px 0.6fr 0.6fr 1fr 60px 100px;
		font-size: 16px;
		&  > p {
			outline: 1px solid #fff;
			padding: 10px;
		}
		&-first {
			background-color:#0984aa;
			font-weight: 700;
			color: #fff;
			text-shadow: 0 0 4px #000;
			font-variant: small-caps;
			font-size: 16px;
		}
	}
}

.buttons {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1em;
	button {
		padding: 10px 18px;
		border: 0;
		background-color: #ee6352;
		color: #fff;
		border-radius: 6px;
		font-weight: 700;
		cursor: pointer;

	}
}