@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ddd;
}

.box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
	padding: 16px;
	background-color: royalblue;
}
.box-text {
	background-color: #fff;
	border-radius: 12px;
	flex: 0 0 32%;
	cursor: pointer;
	padding: 12px;
	transition: 0.5s;
	position: relative;
}
.id {
	position: absolute;
	font-size: 18px;
	z-index: 0;
	right: 10px;
	font-weight: 700;
	color: rgba(128, 128, 128, 0.5);
}

