

body {
	background: #2d2d2d;
	color: beige;
}

.App {
	width: 80%;
	margin: 20px auto;
}

.slick-slide {
	height: 100%;

}

.slick-slide div {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;
	flex-direction: column;

}

.slick-slide {


}

img {
	width: 100%;
	max-width: none;
	object-fit: cover;
	height: 400px;
	margin-top: 20px;

}

.slick-center img {
	outline: 3px solid #27ae60;
	outline-offset: 10px;
	scale: 1.03;
	transition: 0.3s;
	border-radius: 10px;

}

.slick-dots li button:before {
	content: '⭕' !important;
	width: 40px !important;
	height: 40px !important;
	font-size: 30px;
}
.slick-dots li  {
	padding: 0 20px;
}