.container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container > div {
  flex-basis: 40%;
  padding: 20px;
  border-radius: 8px;
  background-color: wheat;
  box-shadow: 4px 8px 8px rgba(166, 9, 9, 0.986);
  margin-top: 60px;
  margin-bottom: 20px;
  height: 250px;
}

.container > div > h1 {
  margin-bottom: 10px;
  color: red;
}
.container > div > h2 {
  margin-bottom: 10px;
}
.container > div > p {
  margin-bottom: 10px;
}

select {
  margin-bottom: 20px;
  padding: 0 20px;
  position: absolute;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 4px 8px 8px rgba(166, 9, 9, 0.986);
  border: 1px solid wheat;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  /* caret-color: rgba(166, 9, 9, 0.986); */
}

select option:checked {
  background-color: rgba(166, 9, 9, 0.986);
  color: wheat; 
}




select option {
  background-color:wheat;
}


select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background-color:wheat;
 }


select::-webkit-scrollbar-thumb {
  background-color: rgba(166, 9, 9, 0.986);
}

