body {
  background-color: rgb(223, 226, 226);
}
form {
  width: 420px;
  padding: 1rem;
  margin: 30px auto;
}

form>input:nth-child(1),
form>input:nth-child(2),
form>input:nth-child(3) {
  width: 96%;
}

form>input:nth-last-child(1) {
  width: 96%;
}

input {
  width: 47%;
  margin: 10px 4px;
  padding: 1rem 0.6rem;
  border: 0;
  border-bottom: 3px solid rgb(224, 100, 18);
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}

::placeholder {
  color: beige;
  font-size: 12px;
}

.players {

  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px black;
}

.card .text {
  width: 100%;
  height: auto;
  padding: 10px;
  color: black;
}

.card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.card p span {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
}